{% extends "base.html" %}

{% block title %}Вхід в акаунт{% endblock %}

{% load static %}
{% load i18n %}

{% block css %}<link rel="stylesheet" href="{% static 'css/auth-forms.css' %}">{% endblock %}

{% block content %}

<form class="auth-login-reg-forms" action="{% url 'account_login' %}" method="post">
  <h4 style="text-align: center">Авторизація</h4>

  {% csrf_token %}

  <div class="auth-fields" >
  {% for field in form %}
    {% if field.label == 'Remember Me' or field.label == "Запам'ятати мене" %}
    {% else %}
    <div class="form-group">{{field}}</div>
    {% endif %}

  {% endfor  %}
  </div>

  <div class="form-group">
    <button type="submit" id="id_login_submit" class="btn btn-light auth-button">Увійти</button>
  </div>
  {% if form.errors %}
  <hr>
  <p style="color: #ff4d4d">Ім'я користувача чи пароль не збігаються. Будь ласка спробуйте ще раз.</p>
  <hr>

  {% endif %}


</form>

<script></script>

{% endblock %}
