{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block css %}<link rel="stylesheet" href="{% static 'css/auth-forms.css' %}">{% endblock %}


{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<form method="post"  class="auth-logout-forms" action="{% url 'account_logout' %}">
  {% csrf_token %}
  <p>{% trans 'Are you sure you want to sign out?' %}</p>
  <button type="submit" class="btn btn-light auth-button">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
