{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% block title %}Реєстрація{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/auth-forms.css' %}">{% endblock %}


{% block content %}

<form class="auth-login-reg-forms" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  <h4 style="text-align: center">Зареєструватися</h4>


  {% for field in form %}
    <div class="form-group">{{field}}</div>
  {% endfor %}

  <button class='btn btn-light auth-button' id="id_sing-up" type="submit">{% trans "Sign Up" %}</button>

  {% if form.errors %}
    <hr>
    {% for error_field,error_msg in form.errors.items %}
    <p style="color: #ff4d4d">{% translate error_field %}: {% trans error_msg.as_text %}</p>
    <hr>
    {% endfor %}
  {% endif %}
</form>

{% endblock %}
