{% include 'includes/form-error.html' with form=filter_form %}
{{ filter_form.errors }}
{% csrf_token %}
<section class="types-selector">
    {{ filter_form.object_type }}
    {{ filter_form.adv_type }}
</section>
<section class="location-fields">
    {{ filter_form.region }}
    {{ filter_form.settlement }}
    {{ filter_form.district }}
    {{ filter_form.street }}
</section>

<section class="price-fields">
    {{ filter_form.price_start }}
    {{ filter_form.price_end }}
    <label class="filter-label-from-to">{{ filter_form.currency.label }}:</label>
    {{ filter_form.currency }}
</section>

<section class="square-fields">
    {{ filter_form.square_start }}
    {{ filter_form.square_end }}
    <label class="filter-label-from-to">{{ filter_form.price_square_meter.label }}:</label>
    {{ filter_form.price_square_meter }}
</section>

<section class="floor-fields">
    {{ filter_form.floor_start }}
    {{ filter_form.floor_end }}
    <label class="filter-label-from-to">{{ filter_form.count_rooms.label }}</label>
    {{ filter_form.count_rooms }}
</section>

<section class="object-addition-fields">
    {{ filter_form.object_purpose }}
    {{ filter_form.building_type }}
    {{ filter_form.building_status }}
</section>

<section class="filter-buttons">
    {% if filter.id %}
    <a class="btn btn-danger" onclick="filterDelete(this.id)">Видалити Фільтр</a>
    {% endif %}
    <button class="btn btn-primary" id="create-filter" type="submit">Знайти</button>
</section>

{% if filter %}
    <script>
        function filterDelete() {
            delete_url = "{% url 'filters:delete_filter' filter.id %}"

            if (confirm('Ви дійсно бажаєте видалит фільтр?')){
                window.location.href = delete_url
            } else {
                return false
            }
        }
    </script>
{% endif %}

<script>
    function setDefaultValuesFilterForm(){
        function madeChanges(element){
            console.log(element)
            if (element.childElementCount == 2){
                element.children[0].style.display = 'none';
                element.children[1].selected = true;
            }
        }

        el_region = document.getElementById('id_region')
        el_settlement = document.getElementById('id_settlement')

        madeChanges(el_region)
        madeChanges(el_settlement)
    }
    setDefaultValuesFilterForm()

</script>