<div class="filters-list">
    {% for filter in user.filters.all %}
        <a class="filter" href="{% url 'filters:ads_by_filter' filter.id %}">Мій фільтр - {{ forloop.counter }}</a>
    {% endfor %}
</div>

{% if user.is_authenticated %}
    {% if user.filters.all.count < 3 %}
        <div class="create-filter">
            <a id="id_go_to_filter_form" href="{% url 'filters:add_filter' %}" class="filter">Створити фільтр</a>
        </div>
    {% endif %}
{% else %}
    <div class="create-filter">
        <a id="id_go_to_filter_form" href="{% url 'filters:add_filter' %}" class="filter">Створити фільтр</a>
    </div>
{% endif %}