{% extends 'base.html' %}

{% block content %}

<style>
.list-types-of-buildings {
display: inline-block;
}
.test{
display: inline-block;
}
.list-group-item{
background-color:#ebebeb;`
}

a:link, a:visited {
    text-decoration: none;
}
</style>
<div style="width:100%; padding-top:100px;">
    <center>
        {% for type in types %}
        <ul class="list-group test" style="width:22%; padding-bottom: 10px;">
              <li class="list-group-item">
                  <div class="list-types-of-buildings">
                      <a href="{% url 'core:object_type' type %}" style="color:black;">
                          <img src="media/icon-{{type}}.jpg" alt="" width="37" height="32">
                      </a>
                  </div>
                  <div class="list-types-of-buildings">
                      <a href="{% url 'core:object_type' type %}" style="color:black;">
                          <p style="margin:0 0 0 0; font-size:20px;">{{type|title}}</p>
                      </a>
                  </div>

              </li>
        </ul>
        {% endfor %}
    </center>
</div>


{% endblock %}
