<style>
.building-search-form{
width:100%;
padding: 50px 20% 20px 20%;
}
.form-check{
display:inline-block;
padding-right:10px;
padding-bottom:10px;
}
.price-block{
display:inline-block;
padding-right:10px;
padding-bottom:10px;
}


.advanced-searching-buttons, selecting-price{
display:inline-block;
}
</style>



<div class="building-search-form">
    <form method="get" action="{% url 'core:list_url' %}">
        <div class="input-group mb-3">
            <input type="text" name="search" class="form-control" placeholder="Пошук за критеріями..." aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            <button type="submit" class="input-group-text" id="inputGroup-sizing-default" >Пошук</button>
        </div>

        <div class="advanced-searching-block">
            <div class="selecting-price">
                <div class="price-block">
                    <label for="customRange1" class="form-label">Оберіть ціну</label>
                    <input type="range" class="form-range" id="customRange1">
                </div>

                <div class="price-block">
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
            </div>


            <div class="advanced-searching-buttons">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Опалення
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Ремонт
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Планування
                    </label>
                </div>
            </div>

        </div>


    </form >



</div>

