<style>
div{
border-radius:15px;
}
</style>


<div>
    <h3>Користувач:</h3>
    <p>{{ user.first_name }} {{user.last_name}}</p>

    <div class="" style="padding: 5px 10px 0 10px; ">
        <button type="button" class="btn btn-light" > Подзвонить </button>
        <button type="button" class="btn btn-light" > Написать </button>
    </div>

</div>
