<!--<style>-->
<!--.main{-->
<!--position:relative;-->
<!--}-->
<!--.carousel slide{-->
<!--position:absolute;-->
<!--width:100%;-->
<!--height: 100%:-->
<!--}-->

<!--</style>-->


<!--<div class="main">-->
<!--    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">-->
<!--        <div class="carousel-inner">-->
<!--            {% for link in building.photo_links %}-->
<!--            <div class="carousel-item active">-->
<!--                <img src="{{link}}" class="d-block w-50" alt="...">-->
<!--            </div>-->
<!--            {% endfor %}-->
<!--        </div>-->
<!--        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">-->
<!--            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--            <span class="sr-only">Previous</span>-->
<!--        </a>-->
<!--        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">-->
<!--            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--            <span class="sr-only">Next</span>-->
<!--        </a>-->
<!--    </div>-->
<!--</div>-->
<style>
.building-image{
}
#image{
width:100%;
height:100%;
border-radius: 15px;

}
</style>
<div class="building-image">
    <a href="{{ building.get_reviewing_images_url }}">
        <img  id="image" src="{{building.get_main_image}}">
    </a>
</div>



