<style>
h2,p,h3 {
padding:0px 10px;
}
.one{
display: inline-block;
padding:0px 10px;
}

</style>

<div>
    <H2>{{ building.title }}</H2>
    <h3>{{ building.price }}</h3>

    <h3>Опис</h3>
    <p>{{building.description}}</p>

    <div class="table" style="width:100%; padding:10px 20% 10px 20%;">
        <table class="table">
            <tr class="table" >
                {% if building.bathroom %}
                <th class="table-light">Ванна: </th>
                <td class="table-light">{{building.bathroom}}</td>
                {% endif %}
            </tr>


            <tr class="table-light">
                {% if building.kitchen %}
                <th>Кухня:</th>
                <td>{{ building.kitchen }}</td>
                {% endif %}
            </tr>


            {% if building.floor %}
            <tr class="table-light">
                <th>Ванна:</th>
                <td>{{ building.floor }}</td>
            </tr>
            {% endif %}





            {% if building.rooms %}
            <tr class="table-light">
                <th>Кімнати:</th>
                <td>{{ building.rooms }}</td>
            </tr>
            {% endif %}

            {% if building.square %}
            <tr class="table-light">
                <th>Площа:</th>
                <td>{{ building.square }}</td>
            </tr>
            {% endif %}

            {% if building.count_floors %}
            <tr class="table-light">
                <th>Кількість поверхів:</th>
                <td>{{ building.count_floors }}</td>
            </tr>
            {% endif %}

            {% if building.heating %}
            <tr class="table-light">
                <th>Опалення:</th>
                <td>{{ building.heating }}</td>
            </tr>
            {% endif %}

            {% if building.remont %}
            <tr class="table-light">
                <th>Ремонт:</th>
                <td>{{ building.remont }}</td>
            </tr>
            {% endif %}
        </table>


        <p>{{ building.date_pub }}</p>
    </div>
</div>
