{% extends 'base.html' %}

{% block content %}

<div style="text-align:center;">
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}

            {{ form.errors.as_p }}
            {{ field }}
        {% endfor %}
        <script>
            var loc = window.location;
            var baseUrl = loc.protocol + "//" + loc.hostname + (loc.port? ":"+loc.port : "") + {{url}};

            function test(url) {
                let xhr = new XMLHttpRequest();
                xhr.open('POST', url , true)
                xhr.setRequestHeader('Content-Type', 'application/json',"X-CSRFToken", "{{ csrf_token }}");
                // console.log(JSON.parse(xhr.responseText))
                var data = JSON.stringify({"email":"tomb@raider.com","name":"LaraCroft"});
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var json = xhr.responseText;
                        console.log(json.email + ", " + json.name)
                    }
                }
                xhr.send(data)
            }
        </script>
        <button type="submit" onclick="test(baseUrl)">Create</button>
    </form>
</div>
{% endblock %}
