<div class="fixed-top">
    <nav class="navbar navbar-dark bg-dark">
        <a href="{% url 'core:list_url' %}" type="button" class="btn btn-secondary btn-lg">Home page</a>
        <div class="btn-group dropstart">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Dropstart
            </button>
            <ul class="dropdown-menu">
                <li>{{test}}</li>
            </ul>
        </div>
    </nav>
</div>

<script>
    {{test}}
</script>


