{% extends 'base.html' %}
{% load static %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/get-phone-buttons.js' %}"></script>
{% endblock %}


{% block title %}
    {% if inner_include == 'update' %}
        Редагування: {{ advertisement.get_title }}
    {% else %}
        {{ advertisement.get_title }}
    {% endif %}

{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/adv-detail.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slider2.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/adv-messages.css' %}">
    {% if inner_include == 'update' %}
        <link rel="stylesheet" href="{% static 'css/adv-update.css' %}">
    {% endif %}

{% endblock %}


{% block content %}

<div class="content">

    {% include 'includes/form-error.html' %}

    <div class="container-images">
        {% include 'advertisement/includes/slider2.html' %}
    </div>
    <div class="container-info-main">
        {% if inner_include == 'update' %}
            {% include 'advertisement/includes/from-update-container-info.html' %}
        {% else %}
            {% include 'advertisement/includes/container-info.html' %}
        {% endif %}
    </div>
</div>

{% block messages %}
{% endblock %}

<div class="random-list">
    {% for adv in random_adv %}
    <div class="card">
        <a href="{{ adv.get_absolute_url }}">
            <img src="{{adv.get_main_image}}" class="card-img-top" alt="{{ adv.title }}">
        </a>

      <div class="card-body" style="height:50%">
          <a class="adv-title" href="{{ adv.get_absolute_url }}">{{ adv.get_small_title }}</a>

          {% if adv.len_gen_title < 25 %}
              <p style="height: 12px;"></p>
          {% endif %}

          <pre class="adv-price">{{ adv.price }} {{ adv.currency }}</pre>
          <pre class="adv-date">Дата публікації: {{ adv.date_pub }}</pre>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
