{% extends 'base.html' %}

{% load i18n %}


{% block title %}
Оголошення - {{ advertisement.title }}
{% endblock %}


{% block content %}
<div style="padding-top: 100px;"></div>

<style>
body{
background-color:white;
box-sizing:border-box;
}
.main-content-block{
padding-top:100px;
}
.content{
position:relative;
width:100%;
height:110%;
background-color:#fafafa;
padding:0px 12% 0px 10%;
}
.container-images{
position:absolute;
width:42%;
height:35%;
margin-top:25px;
margin-left:5%;
border-radius: 15px;
border:5px solid 0;
background-color:#ebebeb;
}
.container-user{
position:absolute;
right:10%;
margin-top:25px;
margin-right:5%;
width:20%;
height:35%;
border-radius:15px;
border:5px solid 0;
background-color:#ebebeb;
}
.container-info-main{
position:absolute;
width:70%;
height:55%;
top:35%;
margin-top:50px;
margin-left:5%;
margin-right:5%;
}
.container-info{
width:100%;
height:90%;
top:55%;
border:5px solid 0;
background-color:#ebebeb;
}

</style>

<form method="post" action="">
    {% csrf_token %}
    <div class="main-content-block">
        <div class="content">
            <div class="container-images">
                {% include 'advertisement/includes/container-images.html'  %}
            </div>
            <div class="container-user">
                {% include 'advertisement/includes/container-user.html' %}
            </div>
            <div class="container-info-main">
                <div class="container-info">
                    {% include 'advertisement/includes/ContainerInfoForUpdate.html' with object=form %}
                </div>
                <div class="inner-button">
                    <button type="submit"> Зберегти</button>
                </div>
            </div>

        </div>
    </div>
</form>
{% endblock %}
