{% extends 'base.html' %}

{% block title %}
Створення оголошення
{% endblock %}


{% block content %}
<div style="padding-top: 100px;"></div>

<p>Res: {{ user.is_moderator }}</p>
<form method="post" action="">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit"> Створити </button>
</form>
{% endblock %}
