{% extends 'base.html' %}
{% load static %}

{% block js %}<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/main-for-customer.css' %}">{% endblock %}

{% block content %}

{% block types %}
    {% include 'advertisement/includes/AdvertisementByObjectType.html'%}
{% endblock %}

{% block filters %}
{% endblock %}

{% if ads_list %}
<div class="main-advertisement-list">
    {% for adv in ads_list %}
    <div class="list-item" id="adv-{{adv.id}}">
        <section class="item-img" style="max-width: 100%">
            <a href="{{ adv.get_absolute_url }}">
                <img src="{{ adv.get_main_image}}" alt="...">
            </a>
        </section>
        <section class="section-item-info">
            <div class="info-table">
                <a href="{{ adv.get_absolute_url }}" >{{adv.get_title}}</a>
                <br>
                <pre>ID оголошення: {{ adv.id }}</pre>
                <table style="margin-top:20px;">
                    <tr>
                        <td class="adv-desc">{{adv.get_small_description}}</td>
                    </tr>
                    <tr>
                        <td>
                            <pre class="adv-addr" style="">м. {{ adv.city }}   {% if adv.street %} вул. {{ adv.street }} {% endif %}</pre>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <pre class="adv-price">Ціна:   {{ adv.price }} {{ adv.currency }}</pre>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <pre class="adv-date">Дата публікації: {{ adv.date_pub }}</pre>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <pre class="adv-price"><strong>Оригінальне посилання:</strong>   <a href="{{ adv.original_url }}">{{ adv.original_url }}</a></pre>
                        </td>
                    </tr>
                </table>
            </div>
        </section>
            <section class="item-buttons">
                {% block adv_buttons %}
                {% endblock %}
            </section>
    </div>
    <br>
    {% endfor %}


    {% if is_paginated %}
        {% include 'includes/paginator.html' %}
    {% endif %}
</div>
{% else %}

<style>
.img-not-found{
    border-radius: 20px;
}


.not-found-container {
    width: 100%;
    text-align: center;
}
</style>

<div class="not-found-container">
    <p>Не знайдено жодних оголошень</p>
    <img class="img-not-found" height="400px" alt="" src="{% static 'images/not-found.jpg' %}">
</div>
{% endif %}

{% csrf_token %}

<script >

    userIsAuthenticated = "{{ user.is_authenticated }}"

    function hideButton(buttonId){
        button = document.getElementById(buttonId)
        button.hidden = true;
    }

    function hideAdvBlock(id){
        element = document.getElementById(`adv-${id}`)
        element.style.display = 'none';

    }

    function setHiddenValueForButtons(arrButtonsId){
        buttons = document.getElementsByClassName('add-button')
        for (button of buttons){
            if (arrButtonsId.includes(button.value)){
                button.hidden = true;
            }
        }
        return buttons[0]
    }


    class AjaxAddButton{
        constructor(options) {
            this.csrf = options.csrf
            this.element = options.element
            this.url = options.url
            this.method = options.method
        }

        successFunction = function (response) {
            hideButton(response.button_id)
        }

        sendData() {
            return {
                csrfmiddlewaretoken: this.csrf,
                adv_id: this.element.val(),
                button_id: this.element.attr('id'),
            }
        }

        ajaxFunction() {
            $.ajax({
                url: this.url,
                type: this.method,
                data: this.sendData(),
                success: this.successFunction
            })
        }

    }

    $(document).ready(function () {
        var csrf = $("input[name=csrfmiddlewaretoken]").val()

        add_url = "{% url 'user:add_adv_ajax' %}"

        $(".add-button").click(function () {
            if (userIsAuthenticated === "True") {
                ajax = new AjaxAddButton({csrf: csrf, element: $(this), url: add_url, method: 'post'})
                ajax.ajaxFunction()
            } else{
                window.location.href = window.origin + `/accounts/login/?next=${window.location.href}`
            }

        })
    })

    arrButtonsId = '{{ advertisement_id }}'
    setHiddenValueForButtons(arrButtonsId)
</script>

{% endblock %}
