{% extends 'advertisement/AdvListMainTemplate.html' %}

<title>{% block title %}Львівська нерухомість{% endblock %}</title>

{% block filters %}
    {% include 'filters/filters.html'%}
{% endblock %}

{% block adv_buttons %}
    {% if not user_adv %}
        <button type="button" class="btn btn-success add-button single" value="{{adv.id}}" id="add-{{forloop.counter}}">в корзину + </button>
    {% endif %}
    <a href="{{ adv.get_absolute_url }}" type="button" class="btn btn-light check-button single">Переглянути</a>
    <a href="{{ adv.get_absolute_url }}#messages-block" type="button" class="btn btn-light check-button single">Написати</a>


    {% if user.is_authenticated %}
    <a href="{% url 'user:hide_adv' adv.id %}?end_point={{ request.get_full_path }}" class="btn btn-light hide-button single">Не показувати</a>
    {% endif %}
{% endblock %}