{% extends 'advertisement/AdvListMainTemplate.html' %}

<title>{% block title %}М - Львівська нерухомість  {% endblock %}</title>

{% block filters %}
    {% include 'filters/filters.html'%}
{% endblock %}

{% block adv_buttons %}
    {% if user.is_moderator %}
    <a type="button"  href="{% url 'advertisement:update_adv' adv.url_identifier %}" class="btn btn-warning update-button single">Редагувати</a>
    <a type="button" href="{% url 'advertisement:add_adv_to_archive' adv.id %}?redirect_to={{ request.get_full_path }}" class="btn btn-danger archive-button single" >Архівувати</a>
    {% endif %}
{% endblock %}