<style>
.add-images-block{
    height: 500px;
    width: 100%;
}

#add-image-button{
    font-size: 65px;
    text-align: center;
    margin: 280px;
}

</style>

<div class="add-images-block">
    <a href="{% url 'advertisement:add_images' %}" id="add-image-button">Добавити фото</a>
</div>