{% load static %}
{% load i18n %}
<style>

body{
}

a:link, a:visited {
    text-decoration: none;
}

.type-buttons{
    margin-top: 80px;
    width: 100%;
    display: flex;
}

.type{
    width: 25%;
    border-radius: 5px;
    background-color: #E7E7E7;
}

.type{
    margin:0;
    padding: 0;
}

.type:hover{
    background-color: #343a40;
}

.type-name:hover{
    color: aliceblue;
}

@media (max-width: 950px) {
    p.type-name{
        font-size: 17px;
    }
}

@media (max-width: 550px) {
    p.type-name{
        font-size: 14px;
    }
}

@media (max-width: 550px) {
    p.type-name{
        font-size: 12px;
    }
}

.type-name{
    margin: 0;
    font-size:20px;
    text-align: center;
}

.input-field{
    margin-top: 30px;
}

</style>




<section class="type-buttons">
    {% for type, type_name in types.items %}
        <a class="type" href="{% url 'advertisement:adv_by_obj_type' type %}" style="color:black;">
            <p class="type-name">{% translate type_name|title %}</p>
        </a>
    {% endfor %}
</section>

<section class="input-field">
    <form method="get" action="{% url 'advertisement:adv_list' %}">
        <div class="input-group mb-3">
            <input type="text" name="search" class="form-control" placeholder="Пошук за критеріями..." aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            <button type="submit" class="input-group-text" id="inputGroup-sizing-default" >Пошук</button>
        </div>
    </form >
</section>


