
<div class="inner-adv-container-info">
    <div class="left-adv-info">
        <h1 class="main-adv-title">{{ advertisement.get_title }}</h1>
        <h2 class="main-adv-price"><strong>{{ advertisement.price }} {{ advertisement.currency }}</strong></h2>
        <br>
    </div>

    <div class="right-adv-info">
        {% if user.is_moderator %}
        <a type="button"  href="{% url 'advertisement:update_adv' advertisement.url_identifier %}" class="btn btn-warning update-button single">Редагувати</a>
        <a type="button" href="{% url 'advertisement:add_adv_to_archive' advertisement.id %}?end_point={{ request.get_full_path }}" class="btn btn-danger archive-button single" >Архівувати</a>
        {% endif %}

        <button type="button" id="get-phone" value="{{ advertisement.id }}" class="btn btn-light phone-button single">Взяти номер</button>
    </div>
</div>

<h5 class="main-adv-desc"><strong>ID оголошення: {{ advertisement.id }}</strong></h5>
<h5 class="main-adv-desc">{{advertisement.gen_desc}}</h5>


<div class="bottom-adv-info">
    <div class="inner-adv-bottom">

        <table class="table">

            {% if advertisement.region %}
                <tr class="table">
                    <th>Область:</th>
                    <td>{{ advertisement.region }}</td>
                </tr>
            {% endif %}

            {% if advertisement.city %}
                <tr class="table">
                    <th>Місто:</th>
                    <td>{{ advertisement.City }}</td>
                </tr>
            {% endif %}

            {% if advertisement.district %}
                <tr class="table">
                    <th>Район:</th>
                    <td>{{ advertisement.district }}</td>
                </tr>
            {% endif %}

            {% if advertisement.street %}
                <tr class="table">
                    <th>Вулиця:</th>
                    <td>{{ advertisement.street }}</td>
                </tr>
            {% endif %}

            {% if advertisement.price %}
                <tr class="table">
                    <th>Ціна:</th>
                    <td>{{ advertisement.price }}</td>
                </tr>
            {% endif %}

            {% if advertisement.currency %}
                <tr class="table">
                    <th>Валюта:</th>
                    <td>{{ advertisement.currency }}</td>
                </tr>
            {% endif %}

            {% if advertisement.adv_type %}
                <tr class="table">
                    <th>Тип оголошення:</th>
                    <td>{{ advertisement.adv_type }}</td>
                </tr>
            {% endif %}

            {% if advertisement.obj_type %}
                <tr class="table">
                    <th>Тип об'єкта:</th>
                    <td>{{ advertisement.obj_type }}</td>
                </tr>
            {% endif %}

            {% if advertisement.building %}
                <tr class="table">
                    <th>Будинок:</th>
                    <td>{{ advertisement.building }}</td>
                </tr>
            {% endif %}

            {% if advertisement.bathroom %}
                <tr class="table" >
                        <th >Ванна: </th>
                        <td >{{advertisement.bathroom}}</td>
                </tr>
            {% endif %}

            {% if advertisement.kitchen %}
                <tr class="table">
                        <th>Кухня:</th>
                        <td>{{ advertisement.kitchen }}</td>
                </tr>
            {% endif %}

            {% if advertisement.floor %}
                <tr class="table">
                    <th>Підлога:</th>
                    <td>{{ advertisement.floor }}</td>
                </tr>
            {% endif %}

            {% if advertisement.walls %}
                <tr class="table">
                    <th>Стіни:</th>
                    <td>{{ advertisement.walls }}</td>
                </tr>
            {% endif %}

            {% if advertisement.square %}
                <tr class="table">
                    <th>Площа:</th>
                    <td>{{ advertisement.square }}</td>
                </tr>
            {% endif %}

            {% if advertisement.count_floors %}
                <tr class="table">
                    <th>Кількість поверхів:</th>
                    <td>{{ advertisement.count_floors }}</td>
                </tr>
            {% endif %}

            {% if advertisement.rooms %}
                <tr class="table">
                    <th>Кімнати:</th>
                    <td>{{ advertisement.rooms }}</td>
                </tr>
            {% endif %}

            {% if advertisement.heating %}
                <tr class="table">
                    <th>Опалення:</th>
                    <td>{{ advertisement.heating }}</td>
                </tr>
            {% endif %}
            {% if advertisement.remont %}
                <tr class="table">
                    <th>Ремонт:</th>
                    <td>{{ advertisement.remont }}</td>
                </tr>
            {% endif %}

            {% if advertisement.planing %}
                <tr class="table">
                    <th>Планування:</th>
                    <td>{{ advertisement.planing }}</td>
                </tr>
            {% endif %}
        </table>

    </div>
</div>
<p class="adv-date">Дата Публікації: {{advertisement.get_test_date}}</p>
{% csrf_token %}

<script>
    $(document).ready(function () {
        var csrf = $("input[name=csrfmiddlewaretoken]").val()
        $("#get-phone").click(function (){
            $.ajax({
                url: "{% url 'advertisement:get_adv_phone_ajax' %}",
                type: 'post',
                data: {
                    csrfmiddlewaretoken: csrf,
                    adv_id: $(this).val(),
                    button_id: $(this).attr('id'),
                },
                success: function (response){
                    if (response.is_authenticated === false){
                        window.location.href = window.origin + `/accounts/login/?next=${window.location.href}`
                    } else {
                        phoneNumber = response.phone
                        changePhoneButton(response.button_id, phoneNumber)
                    }
                }
            })
        })
    })
</script>