<form method="post" id="adv_form" enctype="multipart/form-data" data-ajax-url="{% url 'advertisement:load_values_ajax' %}">
    {% csrf_token %}

    {% if real_inner != 'create' %}
        <section class="generated-info" style="">
            <h1>Згенеровані данні</h1>
            <p class="main-adv-title">{{ form.new_title }}</p>
            <p class="main-adv-desc-update">{{form.gen_desc}}</p>
        </section>
    {% endif %}


    <section class="original-info">
        <h1>Оригінальні данні </h1>
        <p class="main-adv-title">{{ form.title }} </p>
        <p class="main-adv-desc-update">{{form.description}}</p>
    </section>

    {% if real_inner == 'create' %}
        <section id="add-images">
            {{ form.images }}
        </section>
    {% endif %}

    <section class="price-section">
        <h1 >Ціна</h1>
        <p class="price-field">{{ form.price }}</p>
        <p class="currency-field">{{ form.currency }}</p>
    </section>

    <section class="form-table-info">
        <table class="table">

            <tr class="table">
                <th>Область:</th>
                <td>{{ form.region }}</td>
            </tr>

            <tr class="table">
                <th>Місто:</th>
                <td>{{ form.city }}</td>
            </tr>

            <tr class="table">
                <th>Район:</th>
                <td>{{ form.district }}</td>
            </tr>

            <tr class="table">
                <th>Вулиця:</th>
                <td>{{ form.street }}</td>
            </tr>

            <tr class="table">
                <th>Ціна:</th>
                <td>{{ form.price }}</td>
            </tr>

            <tr class="table">
                <th>Валюта:</th>
                <td>{{ form.currency }}</td>
            </tr>

            <tr class="table">
                <th>Тип оголошення:</th>
                <td>{{ form.adv_type }}</td>
            </tr>

            <tr class="table">
                <th>Тип об'єкта:</th>
                <td>{{ form.obj_type }}</td>
            </tr>

            <tr class="table">
                <th>Будинок:</th>
                <td>{{ form.building }}</td>
            </tr>

            <tr class="table" >
                <th >Ванна: </th>
                <td >{{form.bathroom}}</td>
            </tr>

            <tr class="table">
                <th>Кухня:</th>
                <td>{{ form.kitchen }}</td>
            </tr>

            <tr class="table">
                <th>Підлога:</th>
                <td>{{ form.floor }}</td>
            </tr>

            <tr class="table">
                <th>Стіни:</th>
                <td>{{ form.walls }}</td>
            </tr>

            <tr class="table">
                <th>Площа:</th>
                <td>{{ form.square }}</td>
            </tr>

            <tr class="table">
                <th>Кількість поверхів:</th>
                <td>{{ form.count_floors }}</td>
            </tr>

            <tr class="table">
                <th>Кімнати:</th>
                <td>{{ form.rooms }}</td>
            </tr>

            <tr class="table">
                <th>Опалення:</th>
                <td>{{ form.heating }}</td>
            </tr>
            <tr class="table">
                <th>Ремонт:</th>
                <td>{{ form.remont }}</td>
            </tr>

            <tr class="table">
                <th>Планування:</th>
                <td>{{ form.planing }}</td>
            </tr>
        </table>

        {% if real_inner != 'create' %}
            <h1>Оригінальне посилання: <a href="{{ adv.original_url }}">{{ adv.original_url }}</a></h1>
        {% endif %}

    </section>
    <section class="update-form-buttons">
        {% if real_inner != 'create' %}
            <p class="adv-date list-buttons">Дата Публікації: {{advertisement.get_test_date}}</p>
        {% endif %}
        <input type="submit" class="btn btn-success save-button list-buttons" value="Зберегти">

        {% if real_inner != 'create' %}
            <a href="{{ advertisement.get_absolute_url }}" type="button" class="btn btn-light check-button list-buttons">Переглянути</a>
        {% endif %}
    </section>
</form>

<script>
    $("#id_region").change(function () {
        func_change("#id_region")
    });
    $("#id_city").change(function () {
        func_change("#id_city")
    });
    $("#id_district").change(function () {
        func_change("#id_district")
    });

    function get_el(field_name) {
        console.log('tessssssssssssssssssstttttttttttttttttttttttttttttttttt')
        return document.getElementById(field_name).value
    }

    function func_change(field_changed) {

        var url = $("#adv_form").attr("data-ajax-url");
        var value_id = document.getElementById(field_changed.slice(1,)).value

        $.ajax({
            url: url,
            data: {
                'value_id': value_id,
                'field_changed': field_changed,
                'current_region' : get_el('id_region'),
                'current_city': get_el('id_city'),
                'current_district': get_el('id_district'),
                'current_street': get_el('id_street'),
            },
            success: function (data) {
                section = document.createElement('section')
                section.innerHTML = data


                for (div_el of section.getElementsByTagName('div')) {
                    id = 'id_' + div_el.id.slice(0, div_el.id.length - 1)
                    console.log(id)
                    console.log(div_el.innerHTML)
                    document.getElementById(id).innerHTML = div_el.innerHTML
                }
            }
        });
    }
</script>