{% load static %}

{% if real_inner != 'create' %}
<div class="slideshow-container">

    {% if advertisement.get_images_count %}
        {% for image in advertisement.get_images %}
            <div class="slide-container">
                <div class="number-text">{{ forloop.counter }}/{{ advertisement.get_images_count }}</div>
                <img src="{{ image }}" alt="...">
            </div>
        {% endfor %}
    {% else %}
        {% for photo in advertisement.get_formatted_photo_links %}
            <div class="slide-container">
                <div class="number-text">{{ forloop.counter }}/{{ advertisement.get_photos_count }}</div>
                <img src="{{ photo }}" alt="...">
            </div>
        {% endfor %}
    {% endif %}

    <a class="prev" onclick="plusSlide(-1)">&#10094</a>
    <a class="next" onclick="plusSlide(+1)">&#10095</a>
</div>
<br>
<div class="dots-class">
    {% for photo in advertisement.get_formatted_photo_links %}
        <span class="dot" onclick="currentSlide({{ forloop.counter }})"></span>
    {% endfor %}
</div>

<script src="{% static 'js/slider.js' %}"></script>
{% endif %}