{% extends 'advertisement/AdvList.html' %}
{% load static %}

<title>{% block title %}М - Львівська нерухомість  {% endblock %}</title>

{% block extra %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/filters.css'  %}">
    <script rel="script" href="{% static 'js/filters.js' %}"></script>
{% endblock %}


{% block filters %}
    <section class="filters">
        {% include 'filters/includes/filters_menu.html' %}
    </section>

    <form id="base-filter-form" method="post" action="">
        {% include 'filters/includes/filter_form.html' %}
    </form>
{% endblock %}