{% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/filters.css'  %}">
<script href="{% static 'js/filters.js' %}"></script>

<section class="filters">
    {% include 'filters/includes/filters_menu.html' %}
</section>
