/* MAIN BLOCKS*/
body{
    background-color:white;
    box-sizing:border-box;
}

.content{
    width:100%;
    min-height:1000px;
}

.container-images, .container-info-main{
    margin-top:25px;
    border-radius:15px;
    border:5px solid #fafafa;
    background-color:#ebebeb;
}

/*   BLOCK WITH IMAGES */
.container-images{
    width:100%;
}

.container-images img{
    margin-top:20px;
    padding-left: 32px;
    padding-right: 32px;
    max-height: 500px;
    max-width: 668px;
    width: 100%;
}

.dots-class{
    text-align: center;
    padding-bottom: 25px;
}

.image-wrapper{
    text-align: center;
}


@media (max-width: 700px) {
    .container-images img{
        padding: 0;
    }
}

@media (max-width: 400px) {
    .container-images img{
        margin-top: 5px;
    }
    .dots-class{
        padding-bottom: 5px;
    }
}


/* FOR RANDOM LIST */

.random-list{
    margin-top: 100px ;
    width: 100%;
    margin-bottom: 100px;
    text-align: center;
}

.card{
    width: 18rem;
    height:450px;
    display:inline-block;
}

.card img{
    height:214px;
}

.card-body p{
    padding: 0;
}
.adv-title{
    padding: 0;
}

.adv-desc, .adv-addr, .adv-price, .adv-date{
    font-size: 14px;
}

.adv-title:hover{
    color: aliceblue;
    cursor: pointer;
    background: #343a40!important;
}


/* ADVERTISEMENT INFORMATION(BLOCK UNDER IMAGE) */
.container-info-main{
    width:100%;
    margin-top:50px;
    border:5px solid #fafafa;
    background-color:#ebebeb;
}

.inner-adv-container-info{
    position: relative;
    width: 100%;
    min-height: 150px;
    /*padding-bottom: 20px;*/
    margin-bottom:20px;
}

.left-adv-info, .right-adv-info{
    position: absolute;
}

.left-adv-info, .form-table-info, .adv-date, .main-adv-desc{
    margin-left:20px;
    margin-top:20px;
}
.right-adv-info, .form-table-info, .adv-date, .main-adv-desc{
    margin-right:20px;
    margin-top:20px;
}

.bottom-adv-info{
    margin-left: 15px;
    margin-right: 15px;
}

.left-adv-info{
    width: 75%;
    left: 0;
}

@media (max-width: 1000px) {
    .main-adv-title{
        font-weight: bold;
        font-size: 25px;
    }
}

@media (max-width: 810px) {
    .left-adv-info{
        width: 60%;
    }
    .main-adv-title{
        font-weight: bold;
        font-size: 22px;
    }
    .inner-adv-container-info{
        min-height: 230px;
    }
}
@media (max-width: 535px) {
    .left-adv-info{
        width: 50%;
    }
    .main-adv-title{
        font-size: 18px;
        font-weight: bold;
    }
    #get-phone{
        width: auto;
    }
}

@media (max-width: 400px) {
    .left-adv-info{
        position: static!important;
    }

    .right-adv-info{
        position: static!important;
        margin-left: 20px;
    }
    
}

.right-adv-info{
    right: 0;
}

@media (max-width: 400px) {
    .left-adv-info{
        font-size: 15px;
    }
}
