#id_gen_desc, #id_description{
    height: 200px;
}

.generated-info{
    margin-top: 20px;
}

.original-info, .generated-info, .price-section{
    margin-left: 20px;
    margin-right: 20px;
}

.price-field, .currency-field{
    display: inline-block;
}

.main-adv-desc-update{

}

#add-images{
    margin: 10px 20px;
}