/* BASE STYLES */
#messages-block-with-right-msg-list{
    width: 65%;
}
#messages-block-for-client{
    width: 100%;
}
#messages-block-for-client, #messages-block-with-right-msg-list, #users-messages{
    height: 450px;
    margin-top: 50px;
    border-radius: 15px;
    border: 5px solid #fafafa;
    background-color: #ebebeb;
}

#users-messages, #messages-block-with-right-msg-list{
    display: inline-block;
}


/* HEADERS FOR CARDS*/
.message-header, .users-header{
    margin: 20px 15px 10px 15px;
    border-bottom: 1px solid #e0dfdf;
}

/* MESSAGE WINDOW */
.main-messages-section{
    width: 100%;
}

#messages{
    height: 270px;
    margin: 0 15px 10px 15px;
    padding: 15px;
    overflow:auto;
}

.part-message{
    display: inline-block;
}

.part-message.date{
    float: right;
    width: 150px;
    color: red;
    text-align: right;
}

.admin-message, .client-message{
    width: fit-content;
    max-width: 350px;
    border-radius: 15px;
    padding: 5px;
}

.admin-message{
    background-color: #5b80b2;
    margin: 0 0 10px auto;
}

.client-message{
    background-color: #c4efc4;
}
/* ADD MESSAGE FIELD */

.add-message-field{
    width: 50%;
    margin: 20px 15px 10px 15px;
    text-decoration: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/

    padding: 5px 10px 5px 10px;
    box-sizing: border-box;


}

.add-message-field, #messages{
    border-radius: 15px;
    border: 1px solid #e0dfdf;
    background-color: white;
}

/* USERS MESSAGES CARD */

#users-messages{
    width: 30%;
    float: right;
    overflow: auto;
}

.users-list{
    height: 330px;
    overflow: auto;
}

.no-users-messages{
    text-align: center;
    margin-top: 35%;
}

/* for one sender block style */
.message{
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid #bcbbbb;
    text-align: center;
}

.instruction{
    padding: 50px 15px 10px 15px;
}

