body{
background-color:white;
box-sizing:border-box;

}
.main-building-list{
margin-top: 120px;
margin-bottom: 200px;
}

.list-item{
position:relative;
margin:0 20%;
height:270px;
border: 1px solid white;
border-radius:20px;
background-color:#ebebeb;
}

.item-img{
position:absolute;
left:0;
width:30%;
height:100%;
}
.item-img img{
width:100%;
height:100%;
padding:17px 10px 17px 10px;
border-radius:10%;
}

.item-info{
position:absolute;
padding-top:8px;
left:30%;
width:50%;
height:100%;
border-radius: 30px;
}
.info-table{
padding:10px 10px 10px 10px;
}

tr{
line-height:20px;
}

.item-contact{
position:absolute;
right:0;
width:20%;
height:100%;
border-left: 1px solid white;
}
.contact-container{
position:relative;
width:100%;
height:100%;
padding:10px 10px 10px 10px;
}

.contact-info{
position:absolute;
left:100px;
width:100%;
height:100%;
}

.item-buttons{
position:absolute;
right:0;
padding:17px 10px 17px 10px;
}


.test-class{
background-image: url("https://www.uli.com/sites/default/files/styles/blog_1140x642/public/City-Place-203-one%20bedroom-living%20room-large%20window-balcony-downtown.jpg?itok=o5GufGzQ");
/*background-color: #cccccc; Used if the image is unavailable */
height:100%;
background-repeat: no-repeat;
background-size: cover; /* Resize the background image to cover the entire container */
margin: 100px 130px 100px 130px;
}
