.auth-login-reg-forms{
  width: 35%;
  margin-top: 150px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.auth-button{
  background-color: #e6e6e8;
}

.auth-logout-forms{
  border: 1px solid white;
  width: 35%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.auth-fields{}

.form-group{
  padding-bottom: 10px
}