/* MAIN */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body, html{
    height: 100%;
    width: 100%;
    font-style: normal;
    font-size: 15px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;
    text-rendering: optimizeSpeed;
}

pre{
    font-family: Arial,Helvetica,sans-serif;
    margin: 0;
}

p,tr,td,th,h1,h2,h3,h4,h5,h6,a, pre {
    color: rgb(52, 58, 64);
}
p,tr,td,th,a,pre,option {
    font-size: 18px;
}

#container{
    min-height: 100%;
    overflow: auto;
    background-color:#fafafa;
    padding-left: 15px;
    padding-right: 15px;
}

#main, .inner-header{
    max-width: 1200px;
    margin:0 auto;
    margin-top: 150px;
}

#main{

}

@media (max-width: 1200px)  {
    .main, .inner-header{
        width: 970px;
    }
}

@media (max-width: 992px)  {
    .main, .inner-header{
        width: 750px;
    }
}

@media (max-width: 767px)  {
    .main, .inner-header{
        max-width: none;
    }
}

@media (max-width: 950px) {
    #container{
        padding: 0;
    }
    #main{
        margin-top: 100px;
    }
    .container-info-main, .container-images{
        border: none;
    }
}

/* FOOTER */

footer{
    position: relative;
    height: 100px;
    /*margin-top: -100px;*/
    background-color: #343a40!important;
    clear: both;
}


/* HEADER */

header{
    height: 70px;
    display: block;
    background-color: #343a40!important;
}

.inner-header{
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0 15px;
}

.inner-header a{
    text-decoration: inherit;
    color: rgb(107, 127, 146);
    cursor: auto;
    font-size: 20px;
    font-weight: 650;
}

.inner-header a:hover{
    text-decoration-color: aliceblue;
    color: aliceblue;
    cursor: pointer;
}

.header-nav-left{
    display: table;
    float: left;
}

.header-nav-right{
    display: table;
    float: right;
}
.header-nav-right a, .header-nav-left a{
    display: table-cell;
    float: left;
    padding-right: 15px;
}
.header-nav-right a:last-child{
    padding-right: 0;
}



@media (max-width: 950px) {
    .header-nav-right, .header-nav-left{
        display: none;
    }
}


/* BUTTONS */

.save-button.single, .check-button.single, .archive-button.single, .update-button.single, .phone-button.single, .add-button.single .hide-button.single{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    width: 150px;
    display: block;
}

.phone-button, .check-button, .update-button, .archive-button, .add-button, .hide-button{
    color: aliceblue;
    font-weight: 700;
    font-size: 15px;
}

.phone-button, .check-button, .hide-button{
    background-color: #343a40;
}

.archive-button:hover{
    border: 2px solid #bd2130;
    background: none;
    color: #bd2130;
}
.update-button:hover{
    border: 2px solid #d39e00;
    background: none;
    color: #d39e00;
}

.add-button{
    font-weight: bold;
    width: 150px;
}

.add-button:hover{
    border: 2px solid #28a745;
    background: none;
    color: #28a745;
;
}
.check-button:hover, .phone-button:hover{
    border: 2px solid #343a40;
}

.list-buttons{
    display: inline-block;
}

.check-button{
    float: right;
}

#get-phone-active{
    border: 2px solid #343a40;
    background: none;
    color: #343a40;
}

.hide-button:hover {
    border: 2px solid #343a40;
    background: none;
    color: #343a40;
}

.errorlist {
    color: red;
}
.error input, .error select, .error p {
    border: 2px red solid;
}