.filters{
    position: relative;
    height: 70px;
}
.filters-list, .create-filter{
    position: absolute;
}
.filters-list{
    left: 0;
}
.create-filter{
    right: 0;
}

.filter{
    background-color: #E7E7E7;
    text-align: center;
    border-radius: 5%;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    margin-right: 20px;
}

.filter:last-child{
    margin-right: 0;
}

.types-selector, .location-fields, .price-fields, .square-fields, .floor-fields, .object-addition-fields{
    margin-bottom: 15px;
}

#id_object_type, #id_adv_type{
    display: inline-block;
    width: 20%;
    margin-right: 15px;
}

.location-fields, .types-selector{
    display: flex;
}

#id_region, #id_settlement, #id_district, #id_street{
    display: inline-block;
    margin-right: 15px;
}

#id_region, #id_settlement, #id_district{
    width: 20%;
}
#id_street{
    width: 30%;
    float: right;
    margin-right:0;
}

#id_price_start, #id_price_end, #id_currency{
    display: inline-block;
    width: 100px;
    margin-right: 15px;
}

#id_square_start, #id_square_end, #id_price_square_meter{
    display: inline-block;
    width: 100px;
    margin-right: 15px;
}
#id_floor_start, #id_floor_end, #id_count_rooms{
    display: inline-block;
    width: 100px;
    margin-right: 15px;
}

#id_object_purpose, #id_building_type, #id_building_status{
    display: inline-block;
    width: 20%;
    margin-right: 15px;
}

#id_price_square_meter{
    width: 150px;
}
.filter-label-from-to{
    width: 150px;
}

.filter-buttons{
    display: inline-block;
}
.filter-buttons{
    float: right;
    margin-right: 15px;

}
