/* MAIN STYLES FOR CURRENT PAGE */
body{
    background-color:white;
    box-sizing:border-box;

}

.main-advertisement-list{
    margin-top: 120px;
    margin-bottom: 200px;
}

.list-item{
    position:relative;
    height:270px;
    width: 100%;
    border: 1px solid white;
    border-radius:20px;
    background-color:#ebebeb;
}

/* IMAGE STYLES */

.item-img{
    position:absolute;
    left:0;
    width: 330px;
    height: 270px;
}

.item-img img{
    width: 100%;
    height: 100%;
    padding:17px 10px 17px 10px;
    border-radius:10%;
    text-align: center;
}

/* INFORMATION STYLES */

.section-item-info{
    position:absolute;
    left:330px;
    right: 180px;
    width:auto;
    height:90%;
    overflow: auto;
}

.info-table{
    padding:10px 10px 10px 10px;
}

.info-table a:hover{
    padding-left: 10px;
    padding-right: 10px;
    color: aliceblue;
    cursor: pointer;
    background: #343a40!important;
}

.info-table td, th{
    padding-bottom: 1.7vh;
}

tr{
    line-height:20px;
}

.item-buttons{
    position:absolute;
    width: 180px;
    height: 100%;
    right:0;
    padding:17px 10px 17px 10px;
}

.adv-desc, .adv-addr, .adv-price, .adv-date{
    font-size: 14px;
}
a.archive-button.single, a.update-button.single, a.check-button.single, button.add-button.single {
    margin: 0;
    margin-bottom: 10px;
}

button.add-button.single, a.check-button.single{
    margin-right: 10px;

}

@media (max-width: 900px) {
    .item-buttons{
        width: 140px;
    }
    .section-item-info{
        right: 140px;
    }
    a.archive-button.single, a.update-button.single, a.check-button.single, button.add-button.single{
        width: 120px;
        margin-right:0 ;
    }
}

@media (max-width: 600px) {
    .list-item{
        position: static!important;
        height: fit-content;
        width: 450px;
        margin: 0 auto;
    }

    .item-img, .section-item-info, .item-buttons {
        position: static!important;
        margin: 0;
    }

    .item-img{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .item-img img {
        width: 100%;
        height: 300px;
        border: 1px solid #ebebeb;
        border-radius: 20px;
    }
    .item-buttons{
        height: 100px;
    }
    a.archive-button.single, a.update-button.single, a.check-button.single, button.add-button.single{
        display: inline-block;
    }
    .add-button{
        margin-bottom: 0;
    }

}
@media (max-width: 600px) {
    .list-item{
        width: 100%;
    }
}