.slideshow-container{
    position: relative;
    text-align: center;
    margin: 0;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px ;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
/*@media (max-height: 1000px) {*/
/*    .slide-container img{*/
/*        max-height: 550px;*/
/*}*/

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev{
    left: 0;
    border-radius: 3px 0 0 3px;
}

/*.text{*/
/*    color: #f2f2f2;*/
/*    font-size: 12px;*/
/*    padding: 8px 12px;*/
/*    position: absolute;*/
/*    top: 0;*/
/*}*/

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}
.number-text{
    margin-top: 20px;
}
.dot{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.dot.activate, .dot:hover{
    background-color: #717171;
}

/*.fade{*/
/*    -webkit-animation-name: fade;*/
/*    -webkit-animation-duration: 1.5s;*/
/*    animation-name: fade;*/
/*    animation-duration: 20s;*/
/*}*/
/*@-webkit-keyframes fade {*/
/*    from{opacity: .4}*/
/*    to{opacity: 1}*/
/*}*/
/*@keyframes fade {*/
/*    from{opacity: 1}*/
/*    to{opacity: 1}*/
/*}*/