body{
background-color:white;
box-sizing:border-box;

}
.list-item{
position:relative;
margin:0px 175px;
width:100%px;
height:270px;
border: 1px solid white;
background-color:ccc8c8;
}

.item-img{
position:absolute;
left:0;
width:30%;
height:100%;
}
.item-img img{
width:100%;
height:100%;
padding:10px 10px 10px 10px;
}

.item-info{
position:absolute;
left:30%;
width:50%;
height:100%;
}
.info-table{
padding:10px 10px 10px 10px;
}

tr{
line-height:20px;
}

.item-contact{
position:absolute;
right:0;
width:20%;
height:100%;
border-left: 1px solid white;
}
.contact-container{
position:relative;
width:100%;
height:100%;
padding:10px 10px 10px 10px;
}

.contact-info{
position:absolute;
left:100px;
width:100%;
height:100%;
}
