{% if cities or current_city%}
<div id="citys">

    <option value="{{ current_city.id }}">{{ current_city.name }}</option>

    {% for city in cities %}
        <option value="{{ city.pk }}">{{ city.name }}</option>
    {% endfor %}
</div>
{% endif %}
{% if streets or current_street%}
<div id="streets">
    <option value="{{ current_street.id }}">{{ current_street.name }}</option>
    {% for street in streets %}
        <option value="{{ street.pk }}">{{ street.name }}</option>
    {% endfor %}
</div>
{% endif %}
{% if districts or current_district%}
<div id="districts">
    <option value="{{ current_district.id }}">{{ current_district.name }}</option>
    {% for district in districts %}
        <option value="{{ district.pk }}">{{ district.name }}</option>
    {% endfor %}
</div>
{% endif %}
{% if regions or current_region%}
<div id="regions">
    <option value="{{ current_region.id }}">{{ current_region.name }}</option>
    {% for region in regions %}
        <option value="{{ region.pk }}">{{ region.name }}</option>
    {% endfor %}
</div>
{% endif %}