{% extends 'base.html' %}
{% load static %}


<div style="margin-top: 200px;">
    <p>asdasdasd</p>
    {% if error_message %}
        <hr>
        <p style="color: #ff4d4d">{{error_message}}</p>
        <hr>
    {% endif %}
</div>