{% load mathfilters %}

<style>
#active-button{
    color: aliceblue;
    background-color: #343a40;
    border: 1px solid #343a40;
}

.page-link{
    text-decoration: inherit;
    color: rgb(107, 127, 146);
    cursor: pointer;
    color: black;
}

.page-item.allowed a{
    background-color: #343a40;
    color: aliceblue;
}

.page-item.allowed a:hover{
    background-color: #ebebeb;
    color: rgb(52, 58, 64);
}

</style>

<nav>
    <ul class="pagination justify-content-center" id="paginator">
        <li class="page-item {% if not previous_url %} disabled {% else %} allowed {% endif %}">
            <a class="page-link" href="{{previous_url}}" tabindex="-1" aria-disabled="true">Попередня</a>
        </li>

        <li class="page-item" aria-current="page">
            <a class="page-link" id="page_1" href="?page=1">1<span class="sr-only"></span></a>
        </li>
        <li class="page-item" aria-current="page" style="display: none;" id="start-dots">
            <a class="page-link">...<span class="sr-only"></span></a>
        </li>
        {% for num in page_object.paginator.page_range %}

            {% if num|sub:current_page < 4 and num|sub:current_page > -1 %}
                {% if num != 1 and num != last_page %}
                    <li class="page-item" aria-current="page">
                        <a id="page_{{ forloop.counter }}" class="page-link" href="?page={{ num }}">{{ num }}<span class="sr-only"></span></a>
                    </li>
                {% endif %}
            {% endif %}

            {% if num|sub:current_page > -4 and num|sub:current_page < 0 %}
                {% if num != 1 and num != last_page %}
                    <li class="page-item {% if current_page == num %}active{% endif %}" aria-current="page">
                        <a id="page_{{ forloop.counter }}" class="page-link" href="?page={{ num }}">{{ num }}<span class="sr-only"></span></a>
                    </li>
                {% endif %}
            {% endif %}

        {% endfor %}

        <li class="page-item" aria-current="page" style="display: none;" id="end-dots">
            <a class="page-link">...<span class="sr-only"></span></a>
        </li>

        <li class="page-item" aria-current="page">
            <a class="page-link" id="page_{{ last_page }}" href="?page={{last_page}}">{{last_page}}<span class="sr-only"></span></a>
        </li>

        <li class="page-item {% if not next_url %} disabled {% else %} allowed {% endif %}">
            <a class="page-link" href="{{next_url}}" tabindex="-1" aria-disabled="true" >Наступна</a>
        </li>
    </ul>
</nav>

<script>


    function makeButtonActive(){
        current_page = {{ current_page }}
        element = document.getElementById(`page_${current_page}`)

        element.id = 'active-button'
        element.parentElement.className = 'page-item active'
        return element
    }

    function setDotsForPaginator() {
        paginator = document.getElementById('paginator')
        arrPaginatorNumbers = []
        arr= []

        for (el of paginator.children) {
            currentPage = el.children[0].textContent

            if ((currentPage == 'Попередня') || (currentPage == 'Наступна')){
            } else {
                arr.push(currentPage)
            }
        }
        if (arr[2] - arr[0] > 1){
            displayBlock("start-dots")
        }
        if (arr[arr.length - 1] - arr[arr.length - 3] > 1){
            displayBlock("end-dots")
        }
    }

    function displayBlock(idName){
        el = document.getElementById(idName);
        el.style.display = 'block';
    }

    makeButtonActive()
    setDotsForPaginator()
</script>