{% extends 'base.html' %}

{% block content %}

<div style="padding-top:100px;"></div>
<center>
{% if user.is_authenticated %}

    <form method="post">{% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ filed }}
            </div>

<!--        <div class="form-row">-->
<!--            <div class="form-group col-md-6">-->
<!--                <label for="inputEmail4"></label>-->
<!--                <input type="email" class="form-control" id="inputEmail4">-->
<!--            </div>-->

<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label for="inputAddress2">Address 2</label>-->
<!--            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">-->
<!--        </div>-->
<!--        <div class="form-row">-->
<!--            <div class="form-group col-md-6">-->
<!--                <label for="inputCity">City</label>-->
<!--                <input type="text" class="form-control" id="inputCity">-->
<!--            </div>-->
<!--            <div class="form-group col-md-4">-->
<!--                <label for="inputState">State</label>-->
<!--                <select id="inputState" class="form-control">-->
<!--                    <option selected>Choose...</option>-->
<!--                    <option>...</option>-->
<!--                </select>-->
<!--            </div>-->
<!--            <div class="form-group col-md-2">-->
<!--                <label for="inputZip">Zip</label>-->
<!--                <input type="text" class="form-control" id="inputZip">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <div class="form-check">-->
<!--                <input class="form-check-input" type="checkbox" id="gridCheck">-->
<!--                <label class="form-check-label" for="gridCheck">-->
<!--                    Check me out-->
<!--                </label>-->
<!--            </div>-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary">Sign in</button>
        {% endfor %}
    </form>



    {% for filed in form %}
        {{ filed }}
        {% if filed.errors %}
            <div class="alert alert-danger" role="alert">{{ filed.errors }}</div>
        {% endif %}
    {% endfor %}
    <input type="submit" value="Save">
{% else %}
<h1>Please login first</h1>
{% endif %}
</center>

{% endblock %}
