{% extends 'base.html' %}

{% block content %}

<style>
body{
background-color:white;
box-sizing:border-box;
}
.main-content-block{
padding-top:100px;
}
.content{
position:relative;
width:100%;
height:110%;
background-color:#fafafa;
padding:0px 12% 0px 10%;
}
.container-images{
position:absolute;
width:42%;
height:35%;
margin-top:25px;
margin-left:5%;
border-radius: 15px;
border:5px solid 0;
background-color:#ebebeb;
}
.container-user{
position:absolute;
right:10%;
margin-top:25px;
margin-right:5%;
width:20%;
height:35%;
border-radius:15px;
border:5px solid 0;
background-color:#ebebeb;
}
.container-info-main{
position:absolute;
width:70%;
height:55%;
top:35%;
margin-top:50px;
margin-left:5%;
margin-right:5%;
}
.container-info{
width:100%;
height:90%;
top:55%;
border:5px solid 0;
background-color:#ebebeb;
}


</style>

<div class="main-content-block">
    <div class="content">
        <div class="container-images">
            {% include 'building/includes/container-images.html' %}
        </div>
        <div class="container-user">
            {% include 'building/includes/container-user.html' %}
        </div>
        <div class="container-info-main">
            <div class="container-info">
                {% include 'building/includes/container-info.html' %}
            </div>
        </div>
    </div>
</div>

<style>
.random-list{
padding: 100px 10% 100px 10%;
}

.description-class{
overflow: hidden;

}
</style>
<center>
<div class="random-list">
    {% for adv in random_adv %}
    <div class="card" style="width: 18rem; height:450px; display:inline-block; margin: 0 15px;">
        <a href={{adv.get_main_image}}>
            <img src={{adv.get_main_image}} class="card-img-top" alt="..." style="height:214px;">
        </a>

      <div class="card-body" style="height:50%; overflow: hidden;">

          <div style="height:20%; overflow: hidden;">
              <h5 class="card-title">{{ adv.title }}</h5>
          </div>
          <div style="height:50%; overflow: hidden;padding-top:7px;" >
              <p class="card-text description-class">{{ adv.description }}</p>
          </div>
          <div style="height:30%; padding-top:15px;">
              <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
          </div>

      </div>
    </div>
    {% endfor %}
</div>
</center>
                        <!---->
                        <!-- FROM PIS TEMPLATE -->
                        <!---->

{% for tour in page_object.object_list %}
<div class="main">
    <div class="card" style="width: 18rem; height:600px;">
        <img src="{{ tour.tour_photo }}" class="card-img-top" alt="..." style="height:214px;">
        <div class="card-body" style="height: 160px;">
            <h5 class="card-title">{{tour.title}}</h5>
            <p class="card-text" >Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Кількість ночей: {{tour.count_days}}</li>
            <li class="list-group-item">Ціна за: {{ tour.count_person }}</li>
            <li class="list-group-item">{{ tour.price }}</li>
        </ul>
        <div class="card-body">
            {% if tour.date_start_tour %}
            <p>{{ tour.date_start_tour|date:'m.d.Y'}} - {{ tour.date_finish_tour|date:'m.d.Y' }}</p>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="card-link">
                {% csrf_token %}
                {% if user.is_authenticated %}
                <a name="add-{{forloop.counter}}" type="button" class="add btn btn-outline-success" href="{% url 'check_documents' user.username tour.id %}">Купити</a>
                {% endif %}
                <!--                    <button name="remove-{{forloop.counter}}" type="button" class="remove btn btn-outline-danger">Видалити</button>-->
            </div>
        </div>

    </div>

</div>
{% endfor %}



<style>
footer{
position:relative;
bottom:0;
width:100%;
height:250px;
background-color: #343a40!important;

bottom:0;
}

</style>

<footer>

</footer>

{% endblock %}
