{% extends 'base.html' %}

{% block content %}
<style>
body{
background-color:white;
box-sizing:border-box;

}
.main-building-list{
margin-top: 120px;
margin-bottom: 200px;
}

.list-item{
position:relative;
margin:0px 20%;
height:270px;
border: 1px solid white;
border-radius:20px;
background-color:#ebebeb;
}

.item-img{
position:absolute;
left:0;
width:30%;
height:100%;
}
.item-img img{
width:100%;
height:100%;
padding:17px 10px 17px 10px;
border-radius:10%;
}

.item-info{
position:absolute;
padding-top:8px;
left:30%;
width:50%;
height:100%;
border-radius: 30px;
}
.info-table{
padding:10px 10px 10px 10px;
}

tr{
line-height:20px;
}

.item-contact{
position:absolute;
right:0;
width:20%;
height:100%;
border-left: 1px solid white;
}
.contact-container{
position:relative;
width:100%;
height:100%;
padding:10px 10px 10px 10px;
}

.contact-info{
position:absolute;
left:100px;
width:100%;
height:100%;
}

.item-buttons{
position:absolute;
right:0%;
padding:17px 10px 17px 10px;
}


.test-class{
background-image: url("https://www.uli.com/sites/default/files/styles/blog_1140x642/public/City-Place-203-one%20bedroom-living%20room-large%20window-balcony-downtown.jpg?itok=o5GufGzQ");
/*background-color: #cccccc; Used if the image is unavailable */
height:100%;
background-repeat: no-repeat;
background-size: cover; /* Resize the background image to cover the entire container */
margin: 100px 130px 100px 130px;
}
</style>


<!--<div class="test-class">-->
<!--</div>-->
{% include 'building/includes/buildings_types_list.html' %}

{% include 'building/includes/building_search_form.html' %}

<div class="main-building-list">
    {% for object in page_object.object_list %}
    <div class="list-item">
        <div class="item-img">
            <a href="{{ object.get_absolute_url }}">
                <img src="{{ object.get_main_image}}">
            </a>
        </div>
        <div class="item-info">
            <div class="info-table">
                <h4>{{object.title}}</h4>
                <table style="margin-top:20px;">
                    <tr>
                        <th>Місто:</th>
                        <td>{{ object.city }}</td>
                    </tr>
                    <tr>
                        <th>Адреса:</th>
                        <td>{{object.street}}</td>
                    </tr>
                    <tr>
                        <th>Опис:</th>
                        <td>{{object.description}}</td>
                    </tr>
                </table>
            </div>


        </div>
        <div class="item-buttons">
            <button type="button" class="btn btn-light">Добавити</button>
            <button type="button" class="btn btn-light">Переглянути</button>
            <button type="button" class="btn btn-light">Взяти номер</button>
        </div>

<!--        <div class="item-contact">-->
<!--            <div class="contact-container">-->
<!--                <div class="contact-info">-->
<!--                    <p style="font-size:30">Андрій</p>-->
<!--                    <p style="font-size:25">Телефон:</p>-->
<!--                    <span>+380 97 *** ****</span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <br>
    {% endfor %}


<center >
    {% if is_paginated %}
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if not prev_url %} disabled {% endif %}">
                <a class="page-link" href="{{prev_url}}" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            {% for num in page_object.paginator.page_range %}
            {% if page_object.number == num %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="?page={{num}}">{{num}}<span class="sr-only"></span></a>
            </li>
            {% elif num > page_object.number|add:-3 and num < page_object.number|add:3 %}
            <li class="page-item"><a class="page-link" href="?page={{num}}" style="color: black;">{{num}}</a></li>
            {% endif %}
            {% endfor %}
            <li class="page-item {% if not next_url %} disabled {% endif %}">
                <a class="page-link" href="{{next_url}}" tabindex="-1" aria-disabled="true" >Next</a>
            </li>
        </ul>
    </nav>
    {% endif %}
</center>
</div>

{% include 'building/includes/footer_block.html' %}

{% endblock %}
