{% extends 'base.html' %}

<style>
.photo{
padding: 5px 100px 5px 100px;
}
</style>
{% block content %}

    {% for photo in building.photo_links %}
        <center>
            <div class="photo">
                <img src={{photo}}>
            </div>
        </center>
    {% endfor %}

{% endblock %}
