{% load static %}

<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>{% block title %}Real-state-lviv{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    {% block js %} {% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %} {% endblock %}

    {% block extra %}{% endblock %}
</head>

<body>
{% include 'header.html' %}

<div id="container">
    <div id="main">
        {% block content %}{% endblock %}
    </div>
</div>

{% include 'footer.html' %}

</body>
</html>


