{% load i18n %}

<header>
    <div class="inner-header">
        <nav class="header-nav-left">
            {% if user.is_moderator %}
                <a href="{% url 'advertisement:adv_list_for_moderators' %}" style="margin-top: 20px;" type="button" class="" id="id_home_button">{% translate "Головна" %}</a>
                <a href="/my-messages/" style="margin-top: 20px;" type="button" class="" id="id_message_menu_button">Повідомлення</a>
            {% else  %}
                <a href="{% url 'advertisement:adv_list' %}" style="margin-top: 20px;" type="button" class="" id="id_home_button">{% translate "Головна" %}</a>
                <a href="/my-messages/" style="margin-top: 20px;" type="button" class="" id="id_message_menu_button">Повідомлення</a>
                <a href="{% url 'advertisement:add_adv' %}" style="margin-top: 20px;">Добавити оголошення</a>
            {% endif %}


            {% if user.is_customer %}
                <a href="{% url 'user:user_ads' %}" type="button" style="margin-top: 20px;">Корзина</a>
            {% elif user.is_moderator %}
                <a href="{% url 'advertisement:add_adv' %}" style="margin-top: 20px;">Добавити оголошення</a>
                <a href="{% url 'advertisement:archive' %}" style="margin-top: 20px;">Архів оголошень</a>
            {% endif %}
        </nav>
        <nav class="header-nav-right">

            {% if user.is_authenticated %}
            <a href="{% url 'user:profile' %}" style="margin-top: 20px;">Профіль</a>
            <a href="{% url 'account_logout' %}" style="margin-top: 20px;">Вийти</a>
            {% else %}
            <a href="{% url 'account_login' %}" style="margin-top: 20px;">Війти</a>
            <a href="{% url 'account_signup' %}" style="margin-top: 20px;">Зареєструватися</a>
            {% endif %}

            {% if user.is_superuser %}
            <a href="{% url 'admin:index' %}" style="margin-top: 20px;">Адмін панель</a>
            {% endif %}
        </nav>
    </div>
</header>



