<section id="messages-block">
    <section id="messages-block-with-right-msg-list">
        <div class="message-header">
            <h1>Повідомлення корстувача</h1>
        </div>
        {% include 'messages/messages_window.html' %}
    </section>

    <section id="users-messages">
        <h1 class="users-header">Клієнти</h1>
        {% if adv_clients %}
        <div class="users-list">
            {% for client in  adv_clients %}
                <div class="message">
                    <a href="{{ advertisement.get_absolute_url }}?client_id={{ client.id }}#messages-block-with-right-msg-list">{{ client }}</a>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <p class="no-users-messages">Поки ніякий не відповів на це оголоешння</p>
        {% endif %}
    </section>
</section>