<div class="main-messages-section">
    <div id="messages">
        {% for message in messages %}
            <p class="{% if message.is_admin_answer %}admin-message{% else %}client-message{% endif %}">{{ message.text }}</p>
        {% endfor %}
    </div>
    <form>
        <input type="text" class="add-message-field" id="id_text">
        <input type="submit" id="send-message" value="Відправити" class="btn btn-primary">
    </form>
</div>

<script>
    adv_url_identifier = "{{ advertisement.url_identifier }}"
    scrollMessages()
    const urlParams = new URLSearchParams(window.location.search);
    const clientIdParam = urlParams.get('client_id');
    const currentAdvId = {{ advertisement.id }}

    const messageSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/socket'
        + `/adv/${adv_url_identifier}/message_channel/`
        + `${(clientIdParam) ? "?client_id=2" : ""}`
    )

    messageSocket.onmessage = function (e) {
        data = JSON.parse(e.data)
        console.log(data)
        element = document.getElementById('messages')
        element.innerHTML += `<p class="${data['message']['class']}">${data['message']['text']}</p>`
        scrollMessages()
    }

    document.querySelector('#send-message').onclick = function (e){
        e.preventDefault()
        const message = document.querySelector('#id_text')
        const text = message.value;

        messageSocket.send(JSON.stringify({
            'text': text,
            'client_id': clientIdParam ? clientIdParam : NaN,
            'adv_id': currentAdvId,
            'is_from_moderator': '{{ user.is_moderator }}'
        }))
        message.value = ''
    }

    function scrollMessages(){
        var element = document.getElementById("messages");
        element.scrollTop = element.scrollHeight;
    }

</script>