<section id="messages-block">
    <section id="messages-block-for-client">
        <div class="message-header">
            <h1>Ваші повідомлення по даному оголошенню</h1>
        </div>
        {% include 'messages/messages_window.html' %}
    </section>
</section>