<style>

</style>


<section id="messages-block">

    <section id="messages-block-with-right-msg-list">
        <div class="message-header">
            {% if advertisement %}
                <h1>{{ current_msg_header }}</h1>
            {% else %}
                <h1>{% if user.is_moderator %} Список всіх реакцій до оголошеннь {% else %}Сторінка ваших оголошень{% endif %} </h1>
            {% endif %}
        </div>
        {% if advertisement %}
            {% include 'messages/messages_window.html' %}
        {% else %}
            <div class="instruction">
                {% if user.is_moderator %}{% include 'messages/includes/instruction_moderator.html' %}{% else %}{% include 'messages/includes/instruction_client.html' %}{% endif %}
            <div>
        {% endif %}
    </section>

    <section id="users-messages">
        <h1 class="users-header">{{ list_name }}</h1>
        {% if user.is_moderator %}
            {% if clients_ids %}
                {% for client_id, url_identifier, unread_message_count  in clients_ids %}
                    <div class="message">
                        <a href="?adv={{ url_identifier }}&client_id={{ client_id }}">
                            client - {{ client_id }}
                            {% if unread_message_count %}
                                <span style="border-radius: 50%;background-color: #343a40;color: white; padding: 5px;">{{ unread_message_count }}</span>
                            {% endif %}
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <p class="no-users-messages">Поки ніхто не відповів на це оголоешння</p>
            {% endif %}
        {% else %}
            <div class="users-list">
            {% for adv_id, url_identifier, unread_message_count in ads_ids %}
                <div class="message">
                    <a href="?adv={{ url_identifier }}">
                        {{ url_identifier }}
                        {% if unread_message_count %}
                            <span style="border-radius: 50%;background-color: #343a40;color: white; padding: 5px;">{{ unread_message_count }}</span>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    </section>
</section>