{% extends 'base.html' %}
{% load static %}

{% block title %} Мої повідомлення {% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/adv-messages.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main-for-customer.css' %}">

{% endblock %}

{% block content %}
    {% if advertisement %}
        <div>
            {% include 'messages/includes/single_adv_card.html' %}
        </div>
    {% endif %}

    <div style="margin-bottom: 100px">
        {% if user.is_moderator %}
            {% include 'messages/message_list_template.html' with list_name='Клієнти' current_msg_header='Повідомлення корстувача' %}
        {% else %}
            {% include 'messages/message_list_template.html' with current_msg_header='Оголошення № *** ' list_name='Повідомлення' %}
        {% endif %}
    </div>

{% endblock %}

