<div class="list-item" id="adv-{{advertisement.id}}">
    <section class="item-img" style="max-width: 100%">
        <a href="{{ advertisement.get_absolute_url }}">
            <img src="{{ advertisement.get_main_image}}" alt="...">
        </a>
    </section>
    <section class="section-item-info">
        <div class="info-table">
            <a href="{{ advertisement.get_absolute_url }}" >{{advertisement.get_title}}</a>
            <br>
            <pre>ID оголошення: {{ advertisement.id }}</pre>
            <table style="margin-top:20px;">
                <tr>
                    <td class="adv-desc">{{advertisement.get_small_description}}</td>
                </tr>
                <tr>
                    <td>
                        <pre class="adv-addr" style="">м. {{ advertisement.city }}   {% if advertisement.street %} вул. {{ advertisement.street }} {% endif %}</pre>
                    </td>
                </tr>
                <tr>
                    <td>
                        <pre class="adv-price">Ціна:   {{ advertisement.price }} {{ advertisement.currency }}</pre>
                    </td>
                </tr>
                <tr>
                    <td>
                        <pre class="adv-date">Дата публікації: {{ advertisement.date_pub }}</pre>
                    </td>
                </tr>
                <tr>
                    <td>
                        <pre class="adv-price"><strong>Оригінальне посилання:</strong>   <a href="{{ advertisement.original_url }}">{{ advertisement.original_url }}</a></pre>
                    </td>
                </tr>
            </table>
        </div>
    </section>
        <section class="item-buttons">
            {% block adv_buttons %}
            {% endblock %}
        </section>
</div>
<br>