{% extends 'advertisement/AdvListMainTemplate.html' %}

{% block types %}
    <h1 style="text-align: center">Приховані оголошення</h1>
{% endblock%}

{% block adv_buttons %}
    {% if user.is_moderator %}
    <a type="button"  href="" class="btn btn-warning update-button single">Видалити з прихованих</a>
    {% endif %}
{% endblock %}