{% extends 'base.html' %}


{% block content %}

<style>
div{
    margin-top: 100px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
</style>

<div>
    <h1>User profile</h1>
    <p>username: {{ user.username }}</p>
    <p>status: {{user.status}}</p>
    <a href="{% url 'user:user_ads' %}" class="btn btn-light check-button single" style="float: none; width: fit-content;">Добавлені оголошення</a>
    <a href="{% url 'user:viewed_ads' %}" class="btn btn-light check-button single" style="float: none; width: fit-content">Переглянуті оголошення</a>
    <a href="{% url 'user:hidden_ads' %}" class="btn btn-light check-button single" style="float: none; width: fit-content">Приховані оголошення </a>
</div>


{% endblock %}
